src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:kafka-consumption-sapi="http://www.mulesoft.org/schema/mule/kafka-consumption-sapi" xmlns:kafka="http://www.mulesoft.org/schema/mule/kafka"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/kafka http://www.mulesoft.org/schema/mule/kafka/current/mule-kafka.xsd
http://www.mulesoft.org/schema/mule/kafka-consumption-sapi http://www.mulesoft.org/schema/mule/kafka-consumption-sapi/current/mule-kafka-consumption-sapi.xsd">
	<sub-flow name="publish-orders" doc:id="301ba35e-9bd9-4ea5-b641-f98205c78621" >
		<parallel-foreach doc:name="Parallel For Each" doc:id="803cde2a-6629-4fc4-948a-26adbea6dae2" >
			<set-variable value="#[payload.orderId]" doc:name="Set Variable" doc:id="e4d53384-495b-4650-90d4-9e2d05bfef46" variableName="topicKey"/>
			<ee:transform doc:name="Transform Message" doc:id="343e2281-5d94-4438-b474-409f0caeb596">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/avro schemaUrl='classpath://orders.avsc'
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<kafka:publish doc:name="Publish" doc:id="aebb1e86-2c05-4ab4-9737-7437463e88fd" config-ref="Apache_Kafka_Producer_configuration" topic="${kafka.topic}" key="#[vars.topicKey]"/>
		</parallel-foreach>
		<ee:transform doc:name="Transform Message">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
"Order request accepted."]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	</sub-flow>
	<flow name="consume-orders" doc:id="3fb25c3e-6fa3-4bbd-9b16-251cf64cdc28" initialState="started">
		<kafka:batch-message-listener doc:name="Batch message listener" doc:id="67d66035-15da-4d39-a646-2ed455f588a9" config-ref="Apache_Kafka_Consumer_configuration" parallelConsumersAmount="2"/>
		<set-variable value="#[attributes.consumerCommitKey]" doc:name="Set Variable" doc:id="e1a89f31-2111-42ed-a783-f9a2cb367713" variableName="consumerCommitKey"/>
		<logger level="INFO" doc:name="Logger" doc:id="0fa81224-2109-4aa8-b988-f95ee4a0ac68" message="[#[vars.consumerCommitKey]] Consumer commit key stored."/>
		<parallel-foreach doc:name="Parallel For Each" doc:id="8ecea3dd-cc48-46fb-ab11-375c5027513e" collection="#[payload.*payload]" target="payloadValues">
			<set-payload value="#[payload]" doc:name="Set Payload" doc:id="201c16b5-c125-48b7-8ca8-08d9c8ba7831" mimeType="application/avro"/>
			<set-payload value='#[output application/json --- payload[0]]' doc:name="Set Payload" doc:id="da45124b-9608-49ad-8b56-d653268f15c1"/>
		</parallel-foreach>
		<ee:transform doc:name="Transform Message" doc:id="f5a38744-f11f-4460-80c5-8012a765f4d6" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable resource="dw/zip-batch-payload-attributes-and-deserialization-results.dwl" variableName="kafkaBatchPayload" />
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ff1f077b-c63c-452d-a265-67b6d6d8e198" message="[#[vars.consumerCommitKey]] Batch payload size: #[sizeOf(vars.kafkaBatchPayload)]"/>
		<remove-variable doc:name="Remove Variable" doc:id="1c5cdd19-44f0-4c52-b1ff-fe244f60cb7c" variableName="payloadValues"/>
		<set-payload value="#[output application/json --- vars.kafkaBatchPayload.value]" doc:name="Set Payload" doc:id="256fd661-ef86-43ca-8e6e-1361e44c9041" />
		<kafka-consumption-sapi:create-or-update-order-data doc:name="Create or update order data" doc:id="75249a55-622a-4d21-9382-dae219486f30" config-ref="Kafka_consumption_sapi_Config"/>
		<logger level="INFO" doc:name="Logger" doc:id="404927cc-38f7-4831-8e2e-1d9eea928749" message="[#[vars.consumerCommitKey]] Committing consumption."/>
		<kafka:commit doc:name="Commit" doc:id="a2377337-31ad-4a73-a1b0-b5284f4bb152" config-ref="Apache_Kafka_Consumer_configuration" commitKey="#[vars.consumerCommitKey]"/>
	</flow>
	<sub-flow name="seek-orders" doc:id="c9b83d73-8cb0-474c-aaba-e43f73b4a54e" >
		<foreach doc:name="For Each" doc:id="504620cf-a6d0-4517-bb29-172b0b894e44" >
			<kafka:seek offset="#[payload.offset]" doc:name="Seek" doc:id="7e99d592-5097-432f-8884-31100713290f" config-ref="Apache_Kafka_Consumer_configuration" topic="${kafka.topic}" partition="#[payload.partition]"/>
		</foreach>
		<ee:transform doc:name="Transform Message" doc:id="ef4271e0-13cb-4732-b55a-a5fe8dd08898" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Seek request accepted."]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</sub-flow>
</mule>
